body {
    background-color: #ecdde7;
}

p {
    font-family: fantasy;
}

#special {
    color: violet;
}

h1, h2, h3 {
    color: #800040;
}

.myClass {
    font-style: italic;
}

p.myClass {
    color: #0080c0;
}

#paragraphId {
    color: #ff0080;
}

#blockId {
    border: 3px solid #8080ff;
    background-color: #ffffb9;
}

.boldCls {
    font-weight: bold;
}

.itaCls {
    font-style: italic;
}

.upperCls {
    text-transform: uppercase;
}
